/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
	Paris - Portfolio Template 
	Author : Tavonline
	Copyright 2018

/* Table of Content
==================================================
	
	1. Body and Core Css
	2. Home Section
	3. About Section
	4. Portfolio Section
	5. Contact Section
	6. Responsive
	7. Slider & Video Home


/*------------------------ 1 Body and Core Css ------------------------*/		

body{
	font-family: 'Open Sans', sans-serif;
    padding-bottom: 227px;
}

html{
	height: 100%;
}

.wrapper {
    position: relative;
    z-index: 4;
    background: #fff;
    overflow: hidden;
}

p{
    font-size: 15px;
    color: #000000;
    line-height: 29px;
    font-family: 'Open Sans', sans-serif;
 }

 p span{
    color: #000;
 }

.about blockquote{ 
    text-align: left;
    padding: 30px 0;
    font-size: 15px;
 }

blockquote{
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    padding: 25px 30px; 
 }


/*Spinner*/
/*preloader */
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
}

.loader {
    height: 1px;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
}


/* Margins */

.top_15{
    margin-top: 15px;
}

.top_30{
    margin-top: 30px;
}

.top_45{
    margin-top: 45px;
}

.top_60{
    margin-top: 60px;
}

.top_90{
    margin-top: 90px;
}

.top_120{
    margin-top: 120px;
}

.padding_30{
   padding: 30px 0; 
}

.padding_45{
   padding: 45px 0; 
}

.padding_60{
   padding: 60px 0; 
}

.padding_90{
   padding: 90px 0; 
}

.padding_120{
   padding: 120px 0; 
}

.bottom_15{
    margin-bottom: 15px;
}

.bottom_30{
    margin-bottom: 30px;
}

.bottom_45{
    margin-bottom: 45px;
}

.bottom_60{
    margin-bottom: 60px;
}

.bottom_90{
    margin-bottom: 90px;
}

.bottom_120{
    margin-bottom: 120px;
}

.padbot_15{
    padding-bottom: 15px;
}

.padbot_30{
    padding-bottom: 30px;
}

.padbot_45{
    padding-bottom: 45px;
}

.padbot_60{
    padding-bottom: 60px;
}


/*------------------------ 2 Full Menu ------------------------*/

header {
    position: fixed;
    z-index: 31;
    width: 100%;
    padding-top: 45px;
    width: 90%;
    margin-left: 5%;
    display: none;
}

header.subpage{
    top: 0;
    padding-top: 19px;
    display: block;
    background: #fff;
    margin-left: 0;
    width: 100%;
    padding: 25px 5%;
}

.full-open header.subpage{
    position: fixed;
    background: none;
}

/*.full-open .header.subpage{
        display: block;
    background: #fff;
    width: 100%;
    margin-left: 0;
    padding-bottom: 21px;
    padding-left: 5%;
    padding-right: 5%;
}*/

/* Menu Icon */

.responsive{
    padding-top: 3px;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-icon:hover span:nth-child(3){
    width: 100%;
}

.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(2) {
  top: 7px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.nav-icon span:nth-child(3) {
  top: 14px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;    
  width: 60%;
  right: 0 !important;
}

/* Full Menu When Open */

.full-open .nav-icon span {
    background: #fff;
}

.full-open .nav-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.full-open .nav-icon span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.full-open .nav-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 15px;
  left: 8px;
  width: 100%;
}

.nav-icon {
  width: 25px;
  height: 18px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.full-open .full-menu{
    visibility: visible;
    transform: translateY(0%);
    transition: all ease 1.0s;
}

.full-open .full-menu nav{
    opacity: 1;
    transition: all ease 1.0s 1.0s;
    -webkit-transition: all ease 1.0s 1.0s;
    -moz-transition: all ease 1.0s 1.0s;
}

/* Full Menu */

.full-menu{
    overflow-y: auto;
    transition: all ease 0.7s;
    transform: translateY(-100%);
    position: fixed;
    width: 110%;
    background: #000;
    height: 100%;
    z-index: 20;
    display: table;
    text-align: left;
    font-family: 'Source Serif Pro', serif;
    font-weight: 900;
    font-size: 30px;
}


@media not all and (min-resolution:.001dpcm) { @media
{

.full-menu{
    height: 120%;
    width: 110%;
}

}}


.full-menu nav{
    opacity: 0;
    display: table-cell;
    vertical-align: middle;
    padding-left: 7%;  
    width: 100%;
}

.full-menu nav ul li a{
    color: #4e4e4e;
    font-size: 80px;
    line-height: 100px;
    width: 100%;
    display: block;
}

.full-menu nav ul li a.active{
    color: #fff;
}

.full-menu nav ul li a:hover{
    color: #fff;
    margin-left: 5px;
    transition: all ease 0.3s;
}

/*------------------------ 2 Home ------------------------*/


.home{
	background: url(../images/home.jpg) bottom center;
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
}

.home .home-content {
    position: relative;
    z-index: 4;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.home .home-content h1{
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 90px;
	color: #fff;
}

.home .home-content p{
    font-size: 17px;
    color: #fff;
    padding: 30px 0;
    line-height: 33px;
    opacity: 0.7;
}

.home .social a{
    opacity: 1;
}

.social a {
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin: 0px 10px;
    transition: all 0.3s ease;
}

.social a:hover {
    opacity: 1;
}

.social a:hover i{
    transition: all ease 0.3s;
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari 3-8 */
    transform: rotate(360deg);
}

.social a:last-child{
    margin-right: 0px;
}

.home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.home .down-site{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -34px;
    color: #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    z-index: 4;
    margin-bottom: 30px;
    opacity: 0.5;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    animation: downsite 2s infinite;
    -webkit-animation: downsite 2s infinite;
    -moz-animation: downsite 2s infinite;
    -o-animation: downsite 2s infinite;
}

.home .down-site:hover{
    opacity: 1;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}

.home .down-site span{    
    font-size: 13px;
}

.home .down-site i{
    display: block;
    font-size: 12px;
    margin-top: 8px;
}


@keyframes downsite {
    0% {margin-bottom:30px}
    50% {margin-bottom:36px;}
    100% {margin-bottom:30px;}
}




/*------------------------ 3 About ------------------------*/

.section-title{
    font-size: 28px;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
    color: #32414d;
    margin: 0 auto 45px;
}

.section-title:after{
content: '';
    background: url(../images/title-divider.png) no-repeat;
    width: 48px;
    height: 14px;
    display: block;
    background-size: 47.5px;
    margin: 0 auto;
    margin-top: 25px;
}

.our-features .afeature {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.our-features .afeature i {
    color: #000;
    font-size: 30px;
    display: block;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.our-features .afeature .icon-box{
    border: solid;
    width: 80px;
    margin: 0 auto;
    height: 80px;
    padding: 23px 28px;
    margin-bottom: 45px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.our-features .afeature span {
    font-size: 19px;
    font-family: 'Source Serif Pro', serif;
}


.our-features .afeature p {
    font-size: 14px;
    margin-top: 9px;
}

.owl-theme .owl-controls {
    margin-top: 60px;
    text-align: center;
}

.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    margin: 5px 6px;
}



/*------------------------ 4 Portfolio ------------------------*/


.portfolio .section-title {
    margin-bottom: 30px;
}

.portfolio_filter {
    text-align: center;
    padding-bottom: 30px;
}

.portfolio .select-cat{
    color: #000;
}

.portfolio_filter ul {
    margin: auto;
    display: inline-block;
}

.portfolio_filter ul li {
    font-size: 14px;
    color: #777777;
    float: left;
    margin-right: 15px;
    list-style: none;
    cursor: pointer;
}

.single_item img {
    width: 100%;
    transition: all ease 0.3s;
}

.single_item img:hover {
    background: #ffffff;
    transition: all ease 0.3s;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
}

.popup-youtube i {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.66);
    padding: 28px 29px;
    color: #fff;
    margin: -31px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

.single_item {
    margin-bottom: 30px;
}



/*------------------------ 5 Blog ------------------------*/

.blog .post {
    width: 100%;
    position: relative;
}

.blog .post:before{
    background: #fff;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all ease 0.3s;
    left: 0;
    top: 0;
}

.post:hover:before{
    background: #0000006b;
    transition: all ease 0.3s;
}

.blog .post .post-inner{
    padding: 80px 0;
    border-bottom: solid 1px #dfdfdf;
}

.blog .post .post-title{
    font-size: 24px;
    font-family: 'Source Serif Pro', serif;
    color: #262626;
    font-weight: bold;
}

.blog .post p{
    padding: 15px 0;
}

.blog .post .blog-info{
    color: #979797;
    font-size: 12.5px;
}

.blog .post .blog-info span{
    color: #000;
}

.blog hr{
    margin-top:0;
    margin-bottom:0;
}


.blog .inner{
    display: table-cell;
    vertical-align: middle;
}

.post:hover .post-title {
    color: #fff;
}

.post:hover p {
    color: #ffffffcf;
}

.post:hover .blog-info{
    color: #ffffff96;
}

.post:hover .blog-info span {
    color: #fff;
}


/* Blog Article */

.single-blog .blog-image img{
    width: 100%;
}

.blog-article .blog-title{
    font-size: 38px;
    line-height: 48px;
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;
}

.blog-article .blog-info {
    color: #979797;
    font-size: 14px;
}

.blog-article .blog-info span {
    color: #000;
}

.comment {
    border-bottom: solid 1px #dfdfdf;
    padding: 45px 0px;
}

.comment .image img {
    width: 100%;
}

.comment h6 {
    font-size: 16px;
    font-weight: 700;
}

.comment span {
    font-size: 12px;
    color: #748182;
    padding: 6px 0;
    display: inline-block;
}

.comment p {
    font-size: 13px;
    line-height: 24px;
}

.comment .reply {
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
        color: #000;
}

.comment.reply {
    padding-left: 45px;
}

.page-title.sub h5{
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    font-weight: bold;
}

.back-to-blog{
    margin-left: 45px;
    font-size: 11px;
    margin-top: 8px;
    font-family: arial;
    color: #b1b1b1;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.back-to-blog:hover{
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    padding-left: 5px;
    color: #000;
}


.full-open .back-to-blog:hover{
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    padding-left: 5px;
    color: #fff;
}

.back-to-blog i{
    margin-right: 5px;
}


/*------------------------ 6 Contact ------------------------*/

.form-inp {
    width: 100%;
    height: 45px;
    border: 0;
    color: #000;
    border-bottom: solid 1px #dfdfdf;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 15px;
}

.contact-form textarea {
    width: 100%;
    border: 0;
    border-bottom: solid 1px #dfdfdf;
    font-size: 13px;
    padding: 20px 0 0 10px;
    height: 119px;
    margin-bottom: 15px;
}

.contact-form .sitebtn {
    margin: auto;
    margin-top: 45px;
    display: block;
}

.contact .our-features .afeature span {
    font-size: 17px;
}

.sitebtn {
    border: solid 2px #dfdfdf;
    background: none;
    font-size: 13px;
    padding: 9px 11px;
    text-align: left;
    min-width: 140px;
    line-height: 17px;
    transition: all ease 0.3s;
    color: #000;
    margin-left: auto;
    margin-right: auto;
}

.sitebtn:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f30b";
    font-weight: 900;
    color: #000;
    float: right;
}

.sitebtn:hover:after {
    color: #fff;
}

.sitebtn:hover {
    background: #000;
    color: #fff;
    border-color: #000;
    transition: all ease 0.3s;
}


/*------------------------ 7 Footer Section ------------------------*/

footer{
    background: #232323;
    padding:70px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p{   
    font-size: 14px;
    line-height: 25px;
    color: #8f8f8f;
}





/*------------------------ 8 Responsive ------------------------*/

@media screen and (max-width: 991px) {

    .home-content h1{
        font-size: 50px !important;
    } 

    .blog-article .blog-title {
        font-size: 30px;
        line-height: 43px;
        font-weight: bold;
        font-family: 'Source Serif Pro', serif;
    }

    .full-menu nav ul li a {
        color: #4e4e4e;
        font-size: 70px;
        line-height: 82px;
        width: 100%;
        display: block;
    }
    
}

@media screen and (max-width: 768px) {

    .blog .post .post-inner {
        padding: 80px 30px;
        border-bottom: solid 1px #dfdfdf;
    }

    .our-features .afeature {
        margin-bottom: 38px;
    }

    .full-menu nav ul li a {
        font-size: 64px;
        line-height: 75px;
    }

    .home br {
        display: inline;
    }


}

@media screen and (max-width: 768px) {

    .home-content h1 {
        font-size: 45px !important;
    }

    .home .home-content p {
        font-size: 15px;
        margin: 0px;
    }


}

@media screen and (max-width: 576px) {

    .full-menu nav ul li a {
        color: #4e4e4e;
        font-size: 44px;
        line-height: 60px;
        width: 100%;
        display: block;
    }

    .home .home-content p {
        font-size: 17px;
        color: #fff;
        padding: 8px 0;
        line-height: 33px;
        opacity: 0.7;
    }

    .home .home-content{
        padding: 15px;
    }
}

@media screen and (max-height: 900px) {

    .full-menu nav ul li a {
        font-size: 55px;
        line-height: 70px;
    }

}


@media screen and (max-height: 700px) {

    .full-menu nav ul li a {
        font-size: 45px;
        line-height: 53px;
    }

}


@media screen and (max-height: 600px) {

    .full-menu nav ul li a {
        font-size: 38px;
        line-height: 43px;
    }

}

@media screen and (max-height: 500px) {

    .full-menu nav ul li a {
        font-size: 29px;
        line-height: 34px;
    }

}























